body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

#root{
	width: 98vw;
	margin: 1vw;
}
#root #content{
	display: grid;
	grid-template-columns: max-content;
}

#playerForm{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: auto;
	justify-content: start;
	width: auto;
}

#playerForm label{
	grid-row: 1 / 2;
	grid-column: 1 / 4;

	max-height: 100px;
	overflow-y: scroll;
}

#playerForm input, #playerForm button{
	margin: 2px;
	height: 22px;
}

#playerForm .userForm{
	margin: 1vh 0;

	grid-column: 1 / 4;
}

#playerForm .userForm input, #playerForm .userForm select{
	margin: 0 5px;
	padding: 0;
}

#stat-checkbox{
	grid-row: 1 / 2;
	grid-column: 2 / 3;

	display: grid;
	justify-self: end;
	grid-auto-flow: column;
	grid-template-columns: max-content max-content max-content;
	margin-right: 1vw;
}

#stat-checkbox #overall{
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: max-content;
	margin: 0 1vw;
	height: auto;
}

#stat-checkbox #overall .title{
	text-align: center;
	align-self: end;
}

#stat-checkbox #overall #overall-wrapper{
	height: 100px;
	overflow-y: scroll;
	align-self: end;
}

#stat-checkbox #overall #overall-wrapper .text{
	margin: 0;
}


#stat-checkbox #overall .individual-check{
	display: flex;
	justify-content: space-between;
}

#stat-checkbox #overall .individual-check .text{
	margin-right: 1vw;
}

#stat-checkbox #users{
	grid-column: 1 / 2;

	display: grid;
	grid-template-columns: max-content;
}
#stat-checkbox #users #user-title{
	text-align: center;
	align-self: end;
}

#stat-checkbox #users #individual-list{
	height: 100px;
	overflow-y: scroll;
	align-self: end;

}

#stat-checkbox #users .individuals{
	display: flex;
	justify-content: space-between;
}
#stat-checkbox #checkboxes{
	grid-column: 1 / 4;
	grid-row: 2 / 3;

	height: 100px;
	overflow-y: scroll;

	display: grid;
}

#stat-checkbox #checkboxes .individual-check{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 100px;
	padding: 5px 0;
}

#stat-checkbox #checkboxes .individual-check .text{
	grid-column: 1 / 2;
	padding-right: 5px;
	text-align: end;

}

#stat-checkbox #checkboxes .individual-check .inputs{
	display: flex;
	justify-content: space-around;
	border-bottom: grey 1px solid;
}


#stat-checkbox #mode-stats{
	display: grid;
	grid-template-columns: 100px max-content max-content;
}

#stat-checkbox #mode-stats .life{
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	border-right: grey 1px solid;
}

#stat-checkbox #mode-stats .life .title, #stat-checkbox #mode-stats .season .title{
	text-align: center;
	border-bottom: grey 1px solid;
	padding-bottom: 5px;
}

#stat-checkbox #mode-stats .season{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

#stat-checkbox #mode-stats .mode ,#stat-checkbox #mode-stats .season .mode{
	display: flex;
	justify-content: space-around;
	border-bottom: grey 1px solid;

}

#stat-checkbox #mode-stats .mode #duo, 
#stat-checkbox #mode-stats .mode #solo, 
#stat-checkbox #mode-stats .mode #squad,
#stat-checkbox #mode-stats .season .mode #solo, 
#stat-checkbox #mode-stats .season .mode #duo,
#stat-checkbox #mode-stats .season .mode #squad{
	padding: 5px;
}

.userInfo{
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: max-content;
	font-size: 16px;
	margin: 1vh 0;
	width: 98vw;
}

.userID{
	grid-row: 1 / 2;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	width: 150px;
	background-color: #89bdd3;
	padding: 5px 0;
	border-bottom: #f9f9f9 1px solid;
}

.userID .checkBox{
	display: flex;
}

.lifetime-title{
	grid-row: 2 / 3;

	background-color: #89bdd3;
	width: 98vw;
	text-align: center;

	padding: 1vh 0;
}

.total-lifetime-stats{
	grid-row: 3 / 4;
	width: inherit;
	overflow-x: scroll;

	display: grid;
	grid-auto-flow: column;
}

.total-lifetime-stats .overall-stats{
	justify-self: center;
	width: 100%;
	min-width: 150px;
}

.total-lifetime-stats .subcategory-stat{
	grid-row: 3 / 4;
	padding: 1vh 0;
	border: #f9f9f9 1px solid;
	text-align: center;
}

.total-lifetime-stats .subcategory-title{
	grid-row: 2 / 3;
	background-color: #e3e3e3;
	padding: 1vh 0;
	border: #f9f9f9 1px solid;
	text-align: center;
}
