body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.userId, .userPlatform{
	grid-column: 1 / 2;
}
.userInfo{
	display: grid;
}
.total-lifetime-stats{
	grid-row: 2 / 3;
}
.lifetime-solos{
	grid-row: 3 / 4;
}
.lifetime-duos{
	grid-row: 4 / 5;
}
.lifetime-squads{
	grid-row: 5 / 6;
}

.current-season-solos{
	grid-row: 6 / 7;
}
.current-season-duos{
	grid-row: 7 / 8;
}
.current-season-squads{
	grid-row: 8 / 9;
}

.category{
	width: auto;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-column: 2 / 3;
	justify-content: space-around;

}
.subcategory{
	width: auto;
	display: flex;
	flex-direction: column;
	grid-row: 1 / 2;
}

.top1{
	grid-column: 1 / 2;
}

.top3{
	grid-column: 2 / 3;
}

.top5{
	grid-column: 3 / 4;
}


.top6{
	grid-column: 4 / 5;
}


.top10{
	grid-column: 5 / 6;
}


.top12{
	grid-column: 6 / 7;
}

.top25{
	grid-column: 7 / 8;
}

.matches{
	grid-column: 8 / 9;
}
.minutesPlayed{
	grid-column: 9 / 10;
}

.avgTimePlayed{
	grid-column: 10 / 11;
}

.kills{
	grid-column: 11 / 12;
}

.kpm{
	grid-column: 12 / 13;
}

.kpg{
	grid-column: 13 / 14;
}

.winRatio{
	grid-column: 14 / 15;
}

.kd{
	grid-column: 15 / 16;
}

.scorePerMatch{
	grid-column: 16 / 17;
}

.scorPerMin{
	grid-column: 17 / 18;
}




